* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

:root {
  --font-family: "Calibri";
  --font-size: 1rem;

  --bg-color: #222;
  --assist-bg-color: #4f4f4f;

  --accent-color: #4169e1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

[class*="container"] {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: #fff;
  padding: 20px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.page {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.page > * {
  padding: 40px;
}
.page__aside {
  background-color: var(--accent-color);
}
.page__content {
  background-color: var(--assist-bg-color);
}

.page__main {
}

.header__title {
  letter-spacing: 0.05em;
}
.header__subtitle {
  font-weight: 600;
  font-size: 1.5rem;
}
.header__text-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.main {
  margin-top: 40px;
}
.main__section {
}
.section {
}
.section__title {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  width: 100%;
  height: 1px;
}
.section__items {
  display: flex;
  gap: 30px;
}
.section__item {
}
.item {
  margin-top: 20px;
}
.item__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.item__sub-title {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.item__text {
  margin-bottom: 10px;
}

.item__text a {
  color: lightblue;
}

.item__list {
  margin-left: 10px;
}
.item__list > li {
  margin-left: 10px;
}
.item__list > li > ul {
  margin-left: 20px;
}
.item__list li {
  list-style: circle;
}
